@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

:root{
--clr-Neutral-0: hsl(0, 0%, 100%);
--clr-Neutral-300: hsl(252, 6%, 83%);
--clr-Neutral-500: hsl(245, 15%, 58%);
--clr-Neutral-700: hsl(245, 19%, 35%);
--clr-Neutral-900: hsl(248, 70%, 10%);

--clr-Orange-500: hsl(7, 88%, 67%);
--clr-Orange-700: hsl(7, 71%, 60%);

--clr-Gradient: linear-gradient(hsl(7, 86%, 67%), hsl(0, 0%, 100%));

--ff-main: Inconsolata;

}

body{
    background: url(assets/images/background-desktop.png);
    font-family: var(--ff-main);
    width: 80%;
    height: 60%;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100rem;
    height: 80vh;
}
.jonathan{
    color: var(--clr-Orange-500);
}
.email{
    color: var(--clr-Orange-500);
}

.ticket{
    height: 30rem;
    display: flex;
    flex-direction: column;
    margin: 10rem;
    text-align: center;
}
.ticket h1{
    width: 90rem;
    height: 6rem;
    font-size: 50px;
}
.ticket p{
    font-size: 20px;
    margin-top: 30px;
    height: 4rem;
}
.card{
    width: 60rem;
    height: 12rem;
    margin-left: 15rem;
    margin-top: 5rem;
}
