@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

:root{
--clr-Neutral-0: hsl(0, 0%, 100%);
--clr-Neutral-300: hsl(252, 6%, 83%);
--clr-Neutral-500: hsl(245, 15%, 58%);
--clr-Neutral-700: hsl(245, 19%, 35%);
--clr-Neutral-900: hsl(248, 70%, 10%);

--clr-Orange-500: hsl(7, 88%, 67%);
--clr-Orange-700: hsl(7, 71%, 60%);

--clr-Gradient: linear-gradient(hsl(7, 86%, 67%), hsl(0, 0%, 100%));

--ff-main: Inconsolata;

}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */


/* always avoid doing any styling on the body  */
body{
    background: url(assets/images/background-desktop.png);
    font-family: var(--ff-main);
    /* width: 100%;
    height: 100%; */
    /* color: white; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.journey{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.journey p{
    color: var(--clr-Neutral-500);
    font-weight: 700;
}

.journey h1{
    color: white;
    /* font-size: 50px;
    margin: 20px; */
    /* margin-bottom: 0; */
    /* width: 45rem; */
    text-align: center;

}

.inputs{
    /* background-color: url(assets/images/background-mobile.png); */
    padding: 2rem;
    border-radius: 16px;
    /* backdrop-filter: blur(10px); */
}

.avatar{
    /* color: var(--clr-Neutral-500); */
  
}
.avatar p{
    margin: 10px;
    color: var(--clr-Neutral-500);
}

.upload{
    color: var(--clr-Neutral-700);
}
.upload input{
    
}
.upload-content{
    cursor: pointer;
     border: 2px dashed transparent;
    outline: 2px dashed rgba(255, 255, 255, 0.25);
    outline-offset: 2px;
    border-radius: 12px;
    height: 17%;
    margin-top: 10px;
    margin-bottom: 5px;
    /* display: block; */
     display: flex;
     flex-direction: column;
     text-align: center;
     
   
}
.upload-content img{
    font-size: 2rem;

    
}
.upload-content p{
    margin: 0.5rem;
    color: var(--clr-Neutral-700);
}
.upload-content small{
    opacity: 0.7;
    width: 100%;
    margin-top: 20px;
    
}
.small{
    color: var(--clr-Neutral-500);
    width: 5%;
}
.name h3{
    color: var(--clr-Neutral-500 );
   
}
.name{
    display: flex;
    flex-direction: column;
    /* backdrop-filter: var(--clr-Neutral-300); */
}
.name input{
    /* width: 22rem; */
    height: 3rem;
    border-radius: 10px;
    color: var(--clr-Neutral-700);    
}


.email input{
    height: 3rem;
    border-radius: 10px;
    color: white;  
}

.email {
    display: flex;
    flex-direction: column;
}

.git input{
    height: 3rem;
    border-radius: 10px;
}

.git {
    display: flex;
    flex-direction: column ;
}

button{
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
   background: var(--clr-Orange-700);
   text-align: center;
  margin-left: 2.9rem;
  text-decoration: none;

}

a{
  display: inline-block;
  padding: 10px 20px;
  color: var(--clr-Neutral-900);
  border-radius: 5px solid;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

}


input::placeholder { color: white; }

input[type=text], input[type=email], input[type=username] {
  background-color: var(--clr-Neutral-900);
  color: white;
   border: 12px ;
    /* outline-offset: 2px; */
    border-radius: 12px;
    outline: 1px solid var(--clr-Neutral-500);
}